<template>
    <div id="search-wrapper">
        <h2>他の列車を検索<span><font-awesome-icon icon="search" /></span></h2>
        <form>
            <select  name="Date" class="date" v-model="selectDate">
                <option class="default" disabled selected>Date  日付を選択 </option>
                <option v-for="i in 31" v-bind:key="i" v-bind:value="getDate(i)" class="black">{{afterNdays(i).getFullYear()}}年{{afterNdays(i).getMonth() + 1}}月{{afterNdays(i).getDate()}}日</option>
                <!-- <span class="fas fa-chevron-down"></span>-->
            </select>
            <select  name="train" class="train-name" v-model="selectExpress">
                <option class="default" disabled selected>Name  列車名を選択</option>
                <option class="black" v-for="express in expresses" v-bind:key="express">{{ express }}</option>
            </select>
            <button type="button" v-on:click="showTable"><span id="left">検</span><span id="right">索</span></button>
        </form>
    </div>
</template>
<script>
export default{
  data:function(){
    return {
      expresses:['サンダーバード','しらさぎ','くろしお（和歌山以北）','くろしお（和歌山以南）','やくも','きのさき','はしだて','こうのとり','はまかぜ','スーパーはくと','スーパーいなば'
      ,'スーパーおき・まつかぜ（米子以西）','スーパーおき・まつかぜ（米子以東）','しなの','南紀','南風','しまんと','あしずり','宇和海','うずしお','かもめ','みどり','ハウステンボス'],
      dateObject:{
        str_today:'',
        month:'',
        day:''
      },
      selectDate:'Date 日付を選択',
      selectExpress:'Name 列車名を選択'
    };
  },
  methods:{
    afterNdays(n){
      var today = new Date();
      today.setDate(today.getDate() + n - 1)
      return today
    },
    getDate(n){
      const date = this.afterNdays(n)
      const year  = String(date.getFullYear());
      var month = String(date.getMonth() + 1);
      var day   = String(date.getDate());
      if(month.length == 1){
        month = '0' + month
      }
      if(day.length == 1){
        day = '0'+day
      }
      return String(year) + String(month) + String(day);
    },
    showTable(){
      this.$emit("button-click",{'selectDate':this.selectDate,'selectExpress':this.selectExpress})
    }
  }
}
</script>
<style scoped>
/* ========================================
    検索フォーム
========================================= */

    div#search-wrapper {
    position:relative;
    height:359px;
    text-align:center;
    
  }
  
  div#serach-wrapper div#right-design {
    background-color:#403a37;
    height:293px;
    width:4px;
    position:absolute;
    top:0;
    right:26px;
  }
  
  div#search-wrapper h2 {
    margin-top:19px;
    display:inline-block;
    width:153px;
    height:23px;
    text-align:center;
    font-size:14px;
    line-height:25px;
    border-top:1px solid black;
    border-bottom:1px solid black;
  }
  
  div#search-wrapper h2 span {
    display:inline-block;
    padding-left:9px;
  }
  
  form select{
    /*右側の矢印を消すcssここから*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    /*右側の矢印を消すcssここまで*/
    /*右側の矢印を変更ここから*/
    background-image:url(../../static/arrow.jpeg);
    background-repeat:no-repeat;
    background-position:244px 50%;
    /*右側の矢印を変更ここまで*/
    width:254px;
    height:32px;
    display:block;
    margin:0 auto ;
    width:267px;
    border:solid 1px #40454d;
    padding-left:12px;
    color:black;
    font-size:14px;
    background-color:#fff;
  }

  option .default {
  color:#9a9797;
}

  
  form select::-ms-expand {
    display:none;
  }
  
  select.date {
    margin-top:37px;
  }
  
  select.train-name {
    margin-top:40px;
  }
  
  .select-japanese {
    display:block;
    margin-left:21px;
  }
  
  .black {
    color:black;
  }
  
  form button {
    text-align:center;
    font-size:23px;
    border:none;
    margin:0 auto;
    color: #fff;
    background-color:#433f3f;
    height:54px;
    width:163px;
    margin-top:43px;
  }

  form button span#right {
    margin-left:11px;
  }

  form button span#left {
    margin-right:11px;
  }
  
  div#search-wrapper div#right-design {
    position:absolute;
    top:0px;
    right:23px;
    background-color:black;
    width:4px;
    height:293px;
    background-color:#4c3e34;
  }
  </style>