<template>
    <div>
        <div id="top-wrapper">
            <h1>特急両数.info</h1>
            <p>検索結果</p>
        </div>
        <div id="top-ad-t">
            <div id="demo-ad-t">広告</div>
        </div>
    </div>
</template>

<style>
/* ========================================
    top-wrapper
========================================= */
div#top-wrapper {
    height:83px;
    position:relative;
    text-align:center;
}

div#top-wrapper h1 {
    text-align:center;
    font-size:9px;
    color:#fff;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    width:81px;
    height:18px;
    line-height:20px;
    position:absolute;
    top:13px;
    right:12px;
}

div#top-wrapper p {
    height:32px;
    line-height:34px;
    text-align:center;
    font-size:16px;
    color:#fff;
    width:143px;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    margin-top:49px;
    display:inline-block;
}

</style>