<template>
        <div class="train-length-wrapper" id="up">
            <h3>{{month}}月{{day}}日  特急{{tableInfo.selectExpress}}上り</h3>
            <div class="train-length-table-title">
                <dl>
                    <dt class="number title">号数</dt>
                    <dd class="length title">両数</dd>
                    <dd class="start title">発</dd>
                    <dd class="goal title">着</dd>
                    <div class="clearfix"></div>
                </dl>
            </div>
            <div class="train-length-table-contents">
                <dl v-for="train in trains" v-bind:key="train.no">
                    <dt class="number">{{ train.no }}号</dt>
                    <dd class="length">{{ train.length }}</dd>
                    <dd class="start">{{train.DepartStation}} {{train.DepartTime}}</dd>
                    <dd class="goal">{{train.ArriveStation}} {{train.ArriveTime}}</dd>
                    <div class="clearfix"></div>
                </dl>
            </div>
        </div>
</template>

<script>
import firebase from 'firebase'

export default{
    data(){
        return{
            trains: [],
            month:'',
            day:''
        }
    },
    props:['tableInfo'],
    methods:{
        showTable: function(){
            const self = this;
            const expressName = this.tableInfo.selectExpress;
            const selectDate = this.tableInfo.selectDate;
            const url = 'trains/' + expressName + '/' + selectDate+ '/up'
            const trainLengthRef = firebase.database().ref(url);
            trainLengthRef.on('value',function(snapshot){
            self.trains = snapshot.val();
        })
        },
        getMonthDay:function(){
            const date = this.tableInfo.selectDate
            if(String(date.substring(4,5)) == '0'){
                var month = date.substring(5,6)
            }else{
                month = date.substring(4,6)
            }

            if(String(date.substring(6,7)) == '0'){
                var day = date.substring(7)
            }else{
                day = date.substring(6,8)
            }

            this.month = month
            this.day = day

        }
    },
    created(){
        this.showTable()
        this.getMonthDay()
    },
    watch: {
        tableInfo: function(){
            this.showTable()
            this.getMonthDay()
        }
    }
}
</script>

<style>
/* ========================================
    .train-length-wrapper
========================================= */
div.train-length-wrapper {
    text-align:center;
}
div.train-length-wrapper h3 {
    font-size:12px;
    color:black;
    padding-top:38px;
}

div#up h3 {
  padding-top:19px;
}

div.train-length-wrapper div.train-length-table-title {
    width:333px;
    margin:0 auto;
    border-bottom:1px solid black;
}

div.train-length-wrapper div.train-length-table-contents {
    width:333px;
    height:195px;
    margin:0 auto;
    overflow: scroll;
    border-bottom:1px solid black;
}

div.train-length-wrapper dl dt,
div.train-length-wrapper dl dd{
    float:left;
    font-size:11px;
    line-height:11px;
}

div.clearfix {
    clear:both;
}

.title {
    padding:14px 0;
    margin-top:17px;
}

dt.number {
    width:66px;
    padding:14px 0;
}

dd.length {
    width:77px;
    padding:14px 0;
}

dd.start {
    width:89px;
    padding:14px 0;
}

dd.goal {
    width:101px;
    padding:14px 0;
}

</style>