<template>
    <div id="image-wrapper" v-bind:style="{ 'background-image' : 'url(' + ImageSeries + ')'}">
        <h1>特急両数.info</h1>
        <p>JR東海・西日本・四国・九州</p>
    </div>
</template>

<script>
import Image681 from "@/assets/series681.jpeg"
import Image683 from "@/assets/series683.jpeg"
import Image381 from "@/assets/series381.jpeg"
import Image383 from "@/assets/series383.jpeg"
import Image289 from "@/assets/series289.jpeg"
import Image2000 from "@/assets/series2000.jpeg"
import ImageN2000 from "@/assets/seriesN2000.jpeg"
import Image8000 from "@/assets/series8000.jpeg"
import Image2700 from "@/assets/series2700.jpeg"
import Image885 from "@/assets/Kamome885.jpeg"
import Image783Midori from "@/assets/Midori783.jpeg"
import Image787 from "@/assets/Kamome787.jpeg"
import Image783Huis from "@/assets/Huis783.jpeg"

export default{
  data:function(){
    return {
      ImageSeries:''
    }
  },
  methods:{
    selectPicture:function(){
      const ary = [Image681,Image683,Image381,Image383,Image289,Image2000,ImageN2000,Image2700,Image8000,Image885,Image783Midori,Image787,Image783Huis];
      const series = ary[Math.floor(Math.random() * ary.length)];
      this.ImageSeries = series
    }
  },
  created(){
    this.selectPicture()
  }
}
</script>

<style>
div#image-wrapper {
  position:relative;
  /* height:203px; */
  /* background-image:url("../../static/series383.jpeg"); */
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover; 
  font-family:"BIZ UDGothic","ＭＳ ゴシック";
  width:100%;
  height:auto;
  padding-top:56.25%;
}

div#image-wrapper h1 {
  position:absolute;
  /* top:125px */
  top:59.5%;
  width:120px;
  height:31px;
  color:#fff;
  font-size:17px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  line-height:33px;
  text-align:center;
  /*margin-left:29px;*/
  margin-left:7.73%;
}

div#image-wrapper p {
  position:absolute;
  /*top:158px;*/
  top:75%;
  font-size:9px;
  color:#fff;
  width:138px;
  text-align:center;
  display:block;
  margin-top:10px;
  margin-left:5.5%;
}


</style>