<template>
<div id="app">
  <template v-if="topShow">
    <div id="wrapper">
    <TopImage></TopImage>
    <Tsearch v-on:button-click="getTable"></Tsearch>
    </div>
  </template>
  <template v-else>
    <div id="Rwrapper">
        <Rtop></Rtop>
        <TableUp v-bind:tableInfo="tableData"></TableUp>
        <TableDown v-bind:tableInfo="tableData"></TableDown>
        <div id="middle-ad">
            <div id="demo-ad-m">広告</div>
        </div>
        <Rsearch v-on:button-click="getTable"></Rsearch>
    </div>
  </template>
</div>
</template>

<script>
import TopImage from './components/TopImage.vue'
import Tsearch from './components/Tsearch.vue'
import Rsearch from './components/Rsearch.vue'
import TableUp from './components/TableUp.vue'
import TableDown from './components/TableDown.vue'
import Rtop from './components/Rtop.vue'
import SmoothScroll from 'smooth-scroll'

const scroll = new SmoothScroll()

export default {
  name: 'App',
  data(){
    return {
      topShow:true,
      tableData:'ttttttttt'
      }
  },
  methods:{
      getTable:function(value){
      this.topShow = false
      this.tableData = value
      scroll.animateScroll(0)
      }
  },
  components: {
    'TopImage':TopImage,
    'Tsearch':Tsearch,
    'Rtop':Rtop,
    'Rsearch':Rsearch,
    'TableUp':TableUp,
    'TableDown':TableDown
  }
}
</script>
<style>

/* ========================================
    全体にmax-widthを適用
========================================= */

div#app {
  max-width:500px;
}

/* ========================================
    resultレイアウト
========================================= */
div#Rwrapper {
  background-image:url('../static/result_bcg_longer_1379px.png');
  margin:0 auto;
  background-size:cover;
  background-repeat:no-repeat;
}

/* ========================================
    topレイアウト
========================================= */
div#wrapper{
  margin:0 auto;
  height:auto;
}

/* ========================================
    広告
========================================= */
div#top-ad-t {
  display:none;
  text-align:center;
}

div#top-ad-t div#demo-ad-t {
  background-color:black;
  display:inline-block;
  width:320px;
  height:50px;
  margin-top:19px;
  color:white;
}


div#middle-ad {
  display:none;
  text-align: center;
}

div#middle-ad div#demo-ad-m {
  width:300px;
  height:250px;
  display: inline-block;
  background-color:black;
  color:#fff;
  margin-top:19px;
}

</style>
